<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/kartikbegani23?igsh=MXhqa3E5cWQ5bGs0Zw==">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/kartik-begani-5b7a702b6/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy; WonderLand Private Limited</div>
        <div class="f-info-contact">Contact Details: +91&nbsp;<u> 7340524245 </u></div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>