body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-socials a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}


.f-info-socials i {
    font-size: 1.3rem;
    margin-right: 1rem;
}

.f-info {
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: space-evenly;
}


/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    height: auto;
    object-fit: cover !important;
}

.card-img-top,
.show-img {
    width: 100%;
    height: 650px;
    /* Set the desired height */
    object-fit: cover;
    /* Ensure the image covers the entire area */
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}


/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New Page */

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}


/* Edit page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}


/* Show page */
.show-img {
    height: 50vh;
}

.del-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Map */
#map {
    height: 400px;
    width: 80vh;
}